.forms {
    margin: 0 auto 30px;
    max-width: 1132px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 20px;
        width: 50%;

        & input {
            border: 1px solid var(--actvie-link);
            border-radius: 8px;
            padding: 16px;
            width: 551px;
            height: 56px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--text-color);
        }
    }

    &__span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--text-color);
    }

}