.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0;

    &__title {
        font-size: 55px;
        color: #eae112;
        font-family: var(--font-family);
        font-weight: 400;
        margin-bottom: 140px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 275px;
        max-width: 160px;
        width: 100%;

        &_link {
            padding: 10px 20px 10px 7px;

            text-transform: uppercase;
            font-size: 20px;
            color: #fff;
            font-family: var(--font-family);
            font-weight: 700;

            &.active {
                color: #eae112;
            }
        }

    }

    &__soc_block {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;

        &_link img {
            height: 35px;
            width: 35px;
        }
    }
}