.wrapper {
    display: flex;
    min-height: 100vh;
}

.about {
    background: var(--bg-color);
    opacity: 0.9;
    padding-top: 80px;
    width: 100%;
}

.about__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 50px;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}

.about__desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    max-width: 803px;
    margin: 0 auto;
    margin-bottom: 33px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;

    .wrapper__left {
        img {
            border-radius: 28px;
            width: 403px;
            height: 467px;
            object-fit: cover;
        }
    }

    .wrapper__right {
        max-width: 450px;

        &_title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 36px;
            color: var(--actvie-link);
            margin-bottom: 20px;
        }

        &_subtitle {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 26px;
            color: var(--text-color);
            margin-bottom: 23px;
        }

        &_desc {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 22px;
            line-height: 127%;
            color: var(--text-color);
            margin-bottom: 20px
        }

        .btn_wrapper {
            display: flex;
            gap: 20px;
            margin-top: 40px;
        }
    }

}

.skills {
    display: block;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 30px;
        line-height: 93%;
        color: #eae112;
        margin-bottom: 20px;
    }

    &__block {
        display: flex;
        gap: 48px;
        align-items: center;
        justify-content: flex-start;
    }
}