.wrapper {
    display: flex;
}

.projects {
    background: #141313;
    opacity: 0.9;
    padding-top: 134px;
    padding-bottom: 80px;
    width: 100%;

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 50px;
        color: #fff;
        margin-bottom: 10px;
        text-align: center;
    }

    &__desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #fff;
        max-width: 803px;
        margin: 0 auto;
        margin-bottom: 33px;
    }

    &__blocks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__block {
        background-color: #000000;
        border-radius: 20px;
        width: 370px;
        height: 350px;
        cursor: pointer;
        width: 44%;
        position: relative;

        img {
            border-radius: 20px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &_link {
            color: #eae112;
        }

        &_desc {
            position: absolute;
            border-radius: 20px;
            content: 'dsada';
            background-color: #858585af;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            text-align: center;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 24px;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all .3s ease;

            &:hover {
                opacity: 1;
            }
        }

    }
}