* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-family: "Oswald", sans-serif;
    --bg-color: #141313;
    --text-color: #fff;
    --navbar-bg-color: #0e0e0e;
    --actvie-link: #eae112;
}

body[data-theme="light"] {
    --bg-color: #fff;
    --text-color: #141313;
    --navbar-bg-color: rgb(217, 217, 217);
    --actvie-link: #ea1212;
}

button,
input {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.title {
    font-size: 50px;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 400;
}

.container {
    max-width: 1123px;
    padding: 0 15px;
}

.btn {
    border-radius: 11px;
    padding: 17px 58px 18px 60px;
    width: 214px;
    height: 58px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    &.light {
        background: var(--actvie-link);
        color: #000;
    }

    &.dark {
        background: transparent;
        color: var(--actvie-link);
        border: 1px solid var(--actvie-link);
    }
}