* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
}

button,
input {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}